html(lang="en")
    head
        block title
            title Habitat
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet" href ="progressbars/css/progress.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection")
        script(type="text/javascript")
            $('.pie_progress').asPieProgress('start');


    body
        block header
            #header
                .row
                    p#logo.col-md-6.hidden-xs.hidden-sm CodeDay| 
                        a(href='/') Habitat
                    #login-bar.col-xs-12.col-sm-12.col-md-6
                hr


     block scripts
            script(src="https://code.jquery.com/jquery-2.1.1.min.js")    
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
            script(src="progressbars/dist/jquery-asPieProgress.js")